h1{
    color: red;
    text-align: center;
}
body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr {
    border: 1px red solid;
}
header{
    border: 1px white solid;
}

nav.nav-alone {
    position: absolute;
    top: 22%;
    background-color: rgba(0, 0, 0, 0.986);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    height: 5%;
    width: 83%;
    left: 8%;  
    box-shadow: 2px 4px 10px 0 rgb(199, 19, 34);
    border: 1px rgb(178, 18, 184) solid;
}


div.nav-al-letras{
    display:inline;
    color: rgb(226, 21, 21);
    padding:10px;
    text-decoration:underline;
    padding-left: 12%;
    
} 
div.nav-al-letras:hover{
    color: aqua;
}
main {
    border: 1px rgb(221, 12, 12) solid;
    box-shadow: 2px 4px 10px 0 rgb(76, 12, 196);
    position: absolute;
    height: 98%;
    top: 33%;
    width: 70%;
    left:15% ;
    color: white;
    

    
}
p { border: 1px blue solid;
    border-radius: 7px;
    box-shadow: 2px 4px 10px 0 rgb(202, 16, 16);
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    border: 1px blue solid;
    box-shadow: 2px 4px 10px 0 rgb(205, 50, 50);
    color: white;
    width: 70%;
}
td.tituloform {
    
    height:60px;
    color: red;
    background-color: rgb(115, 185, 226);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
td.contenido-letras {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
