body {
    background-size:cover;
    
}
div.container {
    border: 1px black solid;
    width: 100%;
}
h1 {
    text-align: center;
}
nav{
    background-color: black;
    padding: 12px;
}
nav .menu-item {
    display: inline;
    padding-left:92px;
    color: white;
    
    
}
div.sidebar {
    height: 600px;
    width: 120px;
    border: 1px black solid;
    background-color: black;
    color: white;
    margin-top:10px;
    float: left;
    line-height: 40px;

}

section.courser {

}

div .course {
    border: 1px black solid;
    width: 255px;
    border-radius: 8px;
    margin:auto;
    display:inline-block;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;

    
}
img {
    height: 80px;
    display: block;
    margin: auto;


}
section.articles {
    display:flex;
    margin-top:50px;
    margin-bottom:200px;

}

footer {
    background-color:lightgrey;
    margin: 5px;
    height: 30px;
    text-align: center;
    padding: 10px;
    width: 96%;
}
