body{
    background-color: rgba(145, 140, 140, 0.836);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr{
    border: 1px blue solid;
    width: 90%;
}
h1{
    color: red;
    text-align: center;
}
div.container{
    position: absolute;
    height:150%;
    width: 98%;
    left: 1%;
    border: 1px rgb(17, 212, 50) solid;
}
header{
    border: 1px rgb(240, 24, 24) solid;

}
main{
    background-color:rgba(255, 255, 255, 0.904);
    border: 1px blue solid;
    position: absolute;
    height: 75%;
    left: 15%;
    width: 70%;
    top: 25%;
}
nav.nav-alone {
    position: absolute;
    top: 14%;
    background-color: rgba(0, 0, 0, 0.986);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    height: 5%;
    width: 83%;
    left: 8%;  
    box-shadow: 2px 4px 10px 0 rgb(199, 19, 34);
    border: 1px rgb(178, 18, 184) solid;
}


div.nav-al-letras{
    display:inline;
    color: rgb(226, 21, 21);
    padding:10px;
    text-decoration:underline;
    padding-left: 12%;
    
} 
div.nav-al-letras:hover{
    color: aqua;
}