body {
    background-size:cover;
    
}
div.container {
    border: px black solid;
    width: 100%;
    
}
h1 {
    text-align: center;
    color: black;
}
nav{
    background-color: rgba(0, 0, 0, 0.671);
    padding: 10px;
    border-radius: 8px;
}
nav .menu-item {
    display: inline;
    padding-left:92px;
    color: white;
    
    
}


footer {
    position:absolute;
    top:91%;
    background-color:rgb(200, 255, 219);
    margin: 5px;
    height: 30px;
    text-align: center;
    padding: 10px;
    width: 96%;
    border-radius: 8px;
    
}
