body {
    background-size:cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.container {
    border: px black solid;
    width: 100%;
    height: 210%;
    
    
}
header {
    border:px rgb(11, 45, 235) solid ;
    width:100%;
    height: 9%;
    
   
}
div.logo {
    border: px black solid;
    position:absolute;
    width: 17%;
    top:0;
    height: 19%;
}
img.logo {
    border: px black solid;
    position:absolute;
    height: 110%;
    width: 80%;
    padding: 2px;
    border-radius: 18px;
    top: -10px; 
}
nav.nav-alone {
    position: absolute;
    top: 22%;
    background-color: rgba(0, 0, 0, 0.986);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    height: 5%;
    width: 83%;
    left: 16%;  
    box-shadow: 2px 4px 10px 0 rgb(199, 19, 34);
    border: 1px rgb(178, 18, 184) solid;
}


div.nav-al-letras{
    display:inline;
    color: rgb(226, 21, 21);
    padding:10px;
    text-decoration:underline;
    padding-left: 8%;
    
} 
div.nav-al-letras:hover{
    color: aqua;
}
h1 {
    text-align: center;
    color: rgb(221, 28, 28);
    border: 1px black solid;
    background-color: rgba(0, 0, 0, 0.904);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 60%;
    margin-left: 20%;
    
}


nav.main{
    border: px black solid;
    position: absolute;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    border-radius: 10px;
    top:1% ;
    width:12% ;
    margin-left: 1%;
    float: left;
    box-shadow: 2px 4px 10px 0 rgba(255, 0, 0, 0.37);

}
div.main-texto {
    
    padding-top: 115%;
    color: rgb(252, 252, 252);
    text-align: center;
    
    
    
}

main {
    border: 1px rgb(221, 12, 12) solid;
    position: absolute;
    height: 164%;
    left: 1%;
    width: 99%;
    top: 30%;

    
}
div.quees {
    
    border: 1px black solid;
    height: 20%;
    margin:2px ;
    background-color: rgba(0, 0, 0, 0.986);
    color: rgb(235, 232, 232);
    width: 84%;
    margin-left: 15%;
    box-shadow: 2px 4px 10px 0 rgba(255, 255, 255, 0.925)
}
div.titulo-quees{
    color: red;
    font-weight:bold;
    text-decoration: dashed;
}
div.accion {
    border: 1px black solid;
    height: 26%;
    margin: 2px;
    width: 84%;
    margin-left: 15%;
}
div.romanticas {
    border: 1px black solid;
    height: 26%;
    margin: 2px;
    width: 84%;
    margin-left:15%;
}
div.obras {
    border: 1px black solid;
    height: 26%;
    margin: 2px;
    width: 84%;
    margin-left:15%;
}
a:hover{
    color: aqua;
}
footer {
    border: 1px rgb(21, 194, 35) solid;
    position:absolute;
    top: 194%;
    background-color:rgba(78, 90, 102, 0.603);
    margin: 6px;
    height: 70px;
    text-align: center;
    padding: 7px;
    width: 98%;
    border-radius: 8px;
    color: white;
    left: 6px;
    
}

