body {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/913/435/657/interstellar-movie-movies-matthew-mcconaughey-water-wallpaper-preview.jpg");
    background-size:cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.container {
    position: absolute;
    border: 0px black solid;
    width: 98%;
    left: 1%;
    height: 110%;}
header {
    border:0px rgb(11, 45, 235) solid ;
    width:100%;
    height: 9%;}
div.logo {
    border: 0px black solid;
    position:absolute;
    width: 17%;
    top:0;
    height: 19%;
}
img.logo {
    border: 0px black solid;
    position:absolute;
    height: 110%;
    width: 80%;
    padding: 2px;
    border-radius: 25px;
    top: -10px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);


}
nav.nav-alone {
    position: absolute;
    top: 22%;
    background-color: rgba(0, 0, 0, 0.986);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    height: 5%;
    width: 81%;
    left: 16%;  
    box-shadow: 2px 4px 10px 0 rgb(199, 19, 34);
    border: 1px rgb(178, 18, 184) solid;
}

div.nav-al-letras {
    display:inline;
    color: rgb(226, 21, 21);
    padding:10px;
    text-decoration:underline;
    padding-left: 10%;

}

div.nav-al-letras:hover {
    color: aqua;
}
h1 {
    text-align: center;
    color: rgb(221, 28, 28);
    border: 0px black solid;
    background-color: rgba(0, 0, 0, 0.904);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 60%;
    margin-left: 21%;}


nav {
    border: 0px black solid;
    position: absolute;
    height: 124%;
    background-color: rgb(0, 0, 0);
    padding: 3px;
    border-radius: 10px;
    top:1% ;
    width:12% ;
    margin-left: 0%;
    float: left;
    box-shadow: 2px 4px 10px 0 rgba(211, 11, 27, 0.959);

}
div.nav-texto {
    margin-top: 160%;
    color: rgb(253, 0, 0);
    text-align: center;

}

main {
    border: 0px rgb(221, 12, 12) solid;
    position: absolute;
    height: 164%;
    left: 1%;
    width: 98%;
    top: 30%;}
div.quees {

    border: 1px black solid;
    height: 20%;
    margin:2px ;
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.966);
    color: rgb(235, 232, 232);
    width: 84%;
    margin-left: 15%;
    box-shadow: 2px 4px 10px 0 rgba(0, 124, 128);
    text-align: center;
    font-style: italic;
}
div.titulo-quees{
    color: red;
    text-decoration: dashed;
    font-family: fantasy;
    text-align: center;
    
}
div.accion {
    border: 1px black solid;
    height: 26%;
    margin: 2px;
    width: 84%;
    margin-left: 15%;
    background-color: rgba(169, 169, 169, 0.966);
    border-radius: 10px;
    box-shadow: 2px 4px 10px 0 rgb(0, 124, 128);

}
div.titulo-accion {
    color: red;
    font-weight:bold;
    text-decoration: dashed;
    text-align: center;
}
img.avengers{
    position: absolute;
    margin:15px;
    width:150px;
    height: 200px;
    margin-left: 6%;
    display: inline-block;
}
img.avengers1{
    position: absolute;
    margin:15px;
    width:150px;
    height: 200px;
    margin-left: 26%;
    display: inline-block;
}

img.avengers2{
    position: absolute;
    margin:15px;
    width:150px;
    height: 200px;
    margin-left: 46%;
    display: inline-block;
}

img.avengers3{
    position: absolute;
    margin:15px;
    width:150px;
    height: 200px;
    margin-left: 66%;
    display: inline-block;
    
}

div.romanticas {
    border: 1px black solid;
    height: 26%;
    margin: 2px;
    width: 84%;
    margin-left:15%;
    background-color: rgba(169, 169, 169, 0.966);
    border-radius: 10px;
    box-shadow: 2px 4px 10px 0 rgb(0, 124, 128);
}
div.titulo-romanticas{
    color: red;
    font-weight:bold;
    text-decoration: dashed;
    text-align: center;

}
div.obras {
    border: 1px black solid;
    height: 26%;
    margin: 2px;
    width: 84%;
    margin-left:15%;
    background-color: rgba(169, 169, 169, 0.966);
    border-radius: 10px;
    box-shadow: 2px 4px 10px 0 rgb(0, 124, 128);
}
div.titulo-top5 {
    color: red;
    font-weight:bold;
    text-decoration: dashed;
    text-align: center;

}
a:hover{
    color: aqua;
}
footer {
    border: 1px rgb(21, 194, 35) solid;
    position:absolute;
    top: 240%;
    background-color:rgba(26, 25, 25, 0.986);
    margin: 6px;
    height: 70px;
    text-align: center;
    padding: 7px;
    width: 95%;
    border-radius: 8px;
    color: white;
    left: 1%;
    
}
p{
    color: black;
}

