h1{
    color: rgb(206, 58, 58);
    text-align: center;
}
body {
    background-color: rgb(77, 74, 74);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr {
    border: 1px rgb(225, 226, 231) solid;
}

div.container {
position: absolute;
height: 80%;
border: px slateblue solid;
width: 98%;
left: 1%;
}

header{
    border: px white solid;
}

nav.nav-alone {
    position: absolute;
    top: 22%;
    background-color: rgba(0, 0, 0, 0.986);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    height: 5%;
    width: 83%;
    left: 8%;  
    box-shadow: 2px 4px 10px 0 rgb(199, 19, 34);
    border: 1px rgb(178, 18, 184) solid;
}


div.nav-al-letras{
    display:inline;
    color: rgb(226, 21, 21);
    padding:10px;
    text-decoration:underline;
    padding-left: 12%;
    
} 
div.nav-al-letras:hover{
    color: aqua;
}
main {
    border: px rgb(221, 12, 12) solid;
    box-shadow: px 4px 10px 0 rgb(76, 12, 196);
    position: absolute;
    height: 155%;
    top: 33%;
    width: 98%;
    left:1% ;
    color: white;
    border-radius: 10px;
    
    

    
}
p { border: px blue solid;
    border-radius: 7px;
    box-shadow: px 4px 10px 0 rgb(202, 16, 16);
    text-align: center;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2{
    color: rgb(223, 23, 23);
}


div.formulario{
    border: 1px rgb(37, 177, 196) solid;
    width: 70%;
    left: 10%;
    margin-left: 15%;
    height:110% ;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 5% ;
    background-color: rgb(59, 57, 57);
}
div.titulo-form{
    background-color: rgb(11, 12, 12);
}